<!--   <div class="nav">
    <div class="container">
      <ul class="pull-left">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="/signup">Join us</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>
  </div> -->
 

    <div class="jumbotron">
      
      <div class="container">
        <h1>Food for all</h1>
        <p>Feeding our children, locally</p>
        <a href="#">Learn More</a>
      </div>
    </div>

    <div class="neighborhood-guides">
        <div class="container">
            <h2>Leaders</h2>
            <p>We work with </p>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/New_Walmart_Logo.svg/1000px-New_Walmart_Logo.svg.png">
                    </div>
                    <div class="thumbnail">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Save_On_Foods_Logo.svg/1024px-Save_On_Foods_Logo.svg.png">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Costco_Wholesale.svg/1280px-Costco_Wholesale.svg.png">
                    </div>
                    <div class="thumbnail">
                        <img src="http://www.bbbshalton.ca/site-bbbs/media/halton/cobslogo.png">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://www.iamhandb.com/images/join1.png">
                    </div>
                </div>
            </div>
        </div>
      </div>


    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Support your community</h3>
            <p>We're always looking for new partners to provide food to our communities.</p>
            <p><a href="#">Click here to partner with us</a></p>
          </div>
          <div class="col-md-4">
            <h3>Interested in volunteering?</h3>
            <p>Got an interest in helping out? Volunteers are always needed.</p>
            <p><a href="#">Click here to volunteer</a></p>
          </div>
          <div class="col-md-4">
            <h3>Need food?</h3>
            <p>We partner with community organizations to provide food at no cost.</p>
            <p><a href="#">Click here to join us</a></p>
        </div>
      </div>
    </div>
  </div>
