
   <div class="login-form" align="center">
      <div class="container">
        <form id="signup" method="POST">
          <div class="header">
            <h3 align="center">Sign in</h3>
          </div>
          <div class="sep"></div>
            <div class="inputs">
              
              <label for="email"></label><input type="email" name="email" placeholder="e-mail" autofocus required />
              <label for="password"></label><input type="password" name="password" placeholder="password" required/>
            <input id="submit" type="submit" value="Sign in">
          </div>
        </form>
      </div>
<br>