

  <div align="center">
    <h3>Add a school</h3>
    <form method="POST">
      <input type="text" name="name" placeholder="School Name">
      <br>
      <input type="text" name="address" placeholder="School Address">
      <br>
      <input type="text" name="phone" placeholder="School Phone">
      <br>
      <input type="submit" value="add school">
    </form>
  </div>  