

    <div class="login-form" align="center">
      <h3>There are many ways to get involved!</h3>
      <h4>Tell us a little bit about yourself - first, how can we work together?</h4>


    <div class="learn-more">
    <div class="container">
    <div class="row">

        <div class="col-md-12">
          <h3>Join us</h3>
          <p>Whether you're someone who wants to donate food, lend a hand, or are in need of food - we've got a place for you.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
      <br>
        <div class="container">
          <div class="col-md-12">
            <div align="center">
            <br>
            <form method="POST">
              <label for="name"></label><input type="text" name="name" placeholder="Name"><br>
              <label for="phone"></label><input type="tel" name="phone" placeholder="Phone"><br>
              <label for="email"></label><input type="email" name="email" placeholder="Email" required><br>
              <label for="address"></label><input type="text" name="address" placeholder="Street address"><br>
              <label for="city"></label><input type="text" name="city" placeholder="City"><br>
              <label for="password"></label><input type="password" placeholder="Choose a password" required>
              <br>
              <br>
              <input type="submit" value="Register">
            </form>
          </div>  
        </div>
      </div>
    </div> 