

    <div class="login-form" align="center">
      <h4>There are many ways to get involved!</h4>


      <div class="container">
        <form id="signup" method="POST">
          <div class="header">
            <h3 align="center">Register for Upcycled</h3>
          </div>
          <div class="sep"></div>
            <div class="inputs">
              
              <label for="email"></label><input type="email" name="email" placeholder="e-mail" autofocus required />
              <label for="name"></label><input type="text" name="name" placeholder="name" />
              <label for="address"></label><input type="text" name="address" placeholder="address" />
              <label for="city"></label><input type="text" name="city" placeholder="city" />
              <label for="phone"></label><input type="text" name="phone" placeholder="phone" />
              <label for="password"></label><input type="password" name="password" placeholder="password" required/>
            <input id="submit" type="submit" value="Register">
          </div>
        </form>
      </div>
​